{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}
    <h1>Categories list</h1>

    <table id="myTable" class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Content</th>

            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('administration_category_show', { 'id': category.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('administration_category_edit', { 'id': category.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('administration_category_new') }}">Create a new category</a>
        </li>
    </ul>
{% endblock %}
